body{
    text-align: center;
	text-decoration: none;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: lightyellow;
    font-family: 'Domine', serif;
}

header{
    background-color: aliceblue;
    padding: 10px;
    font-family: 'Domine', serif;
}
nav{
    background-color: blue;
    color: white;
    padding: 0;
    font-family: 'Domine', serif;
}
footer{
    background-color: blue;
    color: white;
    margin: 0;
    bottom: 0;
    position: relative;
    width: 100%;
    height: 60px;
    font-family: 'Domine', serif;
}
ol{
    list-style: none;
    line-height: 2;
}
ul{
   list-style: none;
   margin: 0;
   padding: 0; 
   display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}
p{
    line-height: 2;
}

a{
    display: flex;
    display: block; 
    padding: 8px;
    text-align: center;
    margin-left: 5em; 
    text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	font-weight: 600;
	font-size: 18px;
	margin: 0 20px 0 20px;
    border-bottom: 2px solid transparent;
    font-family: 'Domine', serif;
    text-decoration:none !important;
}
button{
    font-family: 'Domine', serif;
    font-size: 15px;
}
h2{
    text-align: center; 
}
image{
    margin: 100px;
 }
 main{
     min-height: 100%;
     position: relative;
 }
.underNav{
    padding: 10%;
}
 .theory{
     display: none;
     margin: 10%;
 }
 .rules{
     display: none;
     margin: 10%;
 }
 .rules1{
     text-align: center;
     margin-left: 0.5%; 
 }
 .history{
     display: none;
     margin: 10%;
 }
 .container{
     min-height: 100%;
     position: relative;
     padding-bottom: 60px;
 }
 .red:hover{
    background-color: red;
 }
 .orange:hover{
    background-color: orange;
 }
 .change:hover{
    background-color: orange;
 }
 .yellow:hover{
    background-color: yellowgreen;
 }
 .green:hover{
    background-color: green;
 }

 .front{
     height: 300px;
     width: 300px;
 }
 .back{
     display: none;
     height: 300px;
     width: 300px;
     position: relative; 
}
.developers{
    display: none;
    margin: 10%;
}
.back1{
    display: none;
    height: 300px;
    width: 300px;
    position: relative; 
}
.title{
    text-align: center; 
 }
 .card:hover{
    cursor: pointer;
 }
 .rules1{

 }
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}
.review{
    display: none;
    cursor: pointer;
    margin: 0; 
}
.front1{
    height: 300px;
    width: 300px;
    position: relative; 
}
.reviewback1{
    display: none; 
     height: 300px;
     width: 300px;
     position: relative; 
}
.reviewBack2{
    display: none;
     height: 300px;
     width: 300px;
     position: relative; 
}
#button1{
    border: 3px solid blue; 
    padding: 10px;
    margin-top: 5em;
    position: relative;
    cursor: pointer;
}

#button2{
    border: 3px solid red; 
    padding: 10px;
    margin-top: 5em;
    position: relative;
    cursor: pointer;
    
}
#button3{
    border: 3px solid green;
    margin-top: 5em;
    position: relative;
    cursor: pointer;
    display: none;
}
#button4{
    border: 3px solid purple; 
    padding: 10px;
    margin-top: 5em;
    position: relative;
    cursor: pointer;
}

#answer{
    color: rgb(64, 66, 68);
    font-size: 14px;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}
#answer1{
    color: rgb(64, 66, 68);
    font-size: 14px;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

}
#answer1Review{
    color: rgb(64, 66, 68);
    font-size: 14px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

}
#answerReview{
    color: rgb(64, 66, 68);
    font-size: 14px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#game-over{
    color:  rgb(16, 16, 160);
    display: none;
    font-size: 20px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#question{
   color: rgb(64, 66, 68);
}
#game-over-review{
    color: rgb(16, 16, 160);
    display: none;
    font-size: 20px;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#tron{
    font-size: 50px;
    color: rgb(16, 16, 160);
}
#bluer{
    color:  rgb(16, 16, 160);
}
#scoreCorrect{
  
    margin: 10px;
    padding: 0;
}
#scoreIncorrect{
    margin: 0;
    padding: 0;
}